body {
  font-family: "Arial";
  font-size: 14px;
  margin: 0;
  text-decoration: none;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #dfdedf;
  font-size: 15px;
}

header {
  background-color: #18181f;
  color: white;
  overflow: hidden;
  padding: 15px;
}

header a {
  color: #dfdedf;
  display: block;
  padding: 10px;
}

header a:hover {
  background-color: #dfdedf;
  color: #18181f;
}

header nav{
  float: right;
}

header h1{
  margin: 0;
  float: left;
  background-image: url("../img/logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 75px;
  font-weight: 700;
  font-size: 32px;
}

h1 {
  margin: 0;
  color: #dfdedf;
}

header ul {
  list-style-type: none;
  margin: none;
  padding: none;
  padding-inline-start: 0;
}

header ul li{
  display: inline-block;
}

footer {
  background-color: #282828;
  color: white;
}

img {
  display: block;
  width: 100%;
}

#noticias-destacadas {
    width: calc(100vw * 3);
    background-color: #171717;
    overflow: hidden;
    position: relative;
    animation: 15s slider infinite;
}

#noticias-destacadas figure{
  width: 100vw;
  float: left;
}

#noticias-destacadas h2 {
  font-size: 42px;
  font-weight: 600;
  background-color: #171717;
  padding: 15px;
  color: #FFF
}

/*Animaciones CSS*/

@keyframes slider {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  40% {
    left: -100vw;
  }
  60% {
    left: -100vw;
  }
  80% {
    left: -200vw;
  }
  96% {
    left: -200vw;
  }
  100% {
    left: 0vw;
  }
}


.noticia { /*contenedor flexible*/
display: flex;
flex-direction: row; /*indica a los ihijos en que direccion despalzarse. Se asume el row, pero puede ser en columnas tambien*/
justify-content: space-evenly; /*ver más en https://css-tricks.com/snippets/css/a-guide-to-flexbox/*/
align-items: center;
border-bottom: solid 1px #CCCCCC;
margin-left: 15px;
margin-right: 15px;
padding-top: 15px;
padding-bottom: 15px;
}

.noticia:last-child {
border: none;
}

/*nth-of-type  LEER en el manual de CSS */

.noticia-img {/*item flexible*/
  width: 25%;
}

.noticia-texto {/*item flexible*/
  width: 65%;
  line-height: 1.5;


}

.noticia h3 {
    font-size: 25px;
    font-weight: 600;

}
